@charset "utf-8";
/* CSS Document */
* { outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box;
 }
input,textarea{outline:none}  
a{text-decoration:none;}
a:hover{ text-decoration:none;}
a, a:hover, a:active {
  -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}
body {  
  margin: 0px 0px 0px 0px;
  font-family:微軟正黑體;
}
header { 
  width:100%; 
  height:100px;
  background-color: #fff;
}
@media only screen and (max-width: 1024px){
  header{
    height: 60px;
  }
}
main { 
  margin:20px auto 0px auto; 
  padding: 20px; 
  width:90%; 
  height:500px; 
  border:#000000 1px solid;
}
footer { 
  margin:0px auto 0px auto; 
  width:100%;
  background-color: #fff;
}