
@import url("layout.css");
.page-content{
    max-width: 1500px;
    padding: 0 30px;
    min-height: 700px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    }
    ul{
    padding-left: 0;
    list-style: none;
    }
    .article-list{
        margin-top: 10px;
        list-style: circle;
        padding-left: 27px;
        line-height: 1.6;
    }
    p{
        line-height: 1.6;
    }
    .article-list li{
        margin-bottom: 11px;
    }
    .prod-banner {
        background-image: url(../../images/bg_pageTop.jpg);
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    .prod-banner-box{
        max-width: 1366px;
        padding: 20px 30px 45px;
        height: 400px;
        margin: auto;
        display: flex;
        text-align: left;
        align-items: center;
        position: relative;
    }
    .prod-banner_info{
        display: block;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        left: calc( 50% - 150px);
        top: calc( 65% - 55px);
    }
    
    .prod-banner_info_title{
    background-color: rgb(255, 255, 255, 0.8);
    width: 300px;
    padding: 20px 0 27px;
    box-shadow: 0px 5px 9.5px 0.5px rgba(69, 145, 137, 0.21);
    }
    .prod-banner_info_title .ch{
        color: #458f89;
        font-size: 2.6rem;
        font-weight: bold;
        padding-bottom: 3px;
    }
a{
    color: #5d5d5d;

}
.page-deco{
    vertical-align: sub;
    padding-right: 10px;
}
.page-title{
    margin-bottom: 28px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #d66a6a;
    letter-spacing: 1px;
}
.page-subTitle{
    margin-top: 20px;
    margin-bottom:5px;
    font-size: 2rem;
    font-weight: bold;
    color: #d66a6a;
    letter-spacing: 1px; 
}
/*   最新消息   */

.news_list{
padding-bottom: 30px;
border-bottom: 1px dotted #ccc;
margin-bottom: 30px;
}
.news_list_pic div{
    overflow: hidden;
}
.news_list_pic img{
    transition: all .3s;
    transform: scale(1);
width: 100%;
}
.news_detail{
    border-bottom: none;
}
.news_list_info .date{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #62a59f;
    padding: 7px 16px;
    font-size: 1.6rem;
}
.news_list_info .title{
font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 3px;
    transition: all .3s;
}

.news_list_info .text{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5d5d5d;
}

.news_list_info .more{
    text-align: right;
    margin-top: 0;
    margin-right: 15px;
    transition: all .3s;
   
    font-size: 1.6rem;
}

.news_list:hover .more{
    margin-right: 8px;
    transition: all .3s;
    color: #e28a8a;
   
}
.news_list:hover .title {
    color: #e28a8a;
    transition: all .3s;

}
.news_list:hover .news_list_pic img{
    transition: all .3s;
transform: scale(1.1);
}
.news_list:hover .t-detail{
    color: #5d5d5d;
}
.t-detail{
    display: inline-block;
    vertical-align: sub;
    padding-left: 10px;
}
.txt-detail{
padding: 15px 0;

}
.news_detail .news_list_info{
    margin-top: 0;
}
.news_detail img {
    width: 100%;



}
.page-news ,.page-product ,.page-content-info{
    display: flex;
}
/*  產品列表 */

.product_list_box{
    display: inline-block;
    position: relative;
    width: 100%;
}
.product_list_box .news_pic img{
    width: 100%;
}
.product_list{

    padding-bottom: 22px;
    margin-bottom: 30px;
}
.product_list .price{
    background-color: transparent;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    padding: 0;
}
.product_list .txt{

transition: all 0.3s ease-out;
    width: 100%;
    background-color: #f9f3ef;
    padding: 10px 5px;
    text-align: center;
    font-size: 16px;
    color: #444;
    height: 64px;
}
.product_list_box .more{
   
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background: rgba(92, 62, 33, 0.6);
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: -400px;
    padding: 20px 25px;
   height:  100%;
}
.product_list_box:hover .more{
    bottom: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.product_list_box:hover .more div:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #eaeaea;
    bottom: -4px;
    left: calc(50% - 20px);
}
.product_list_box:hover .more div{
    position: absolute;
    top: 46%;
    left: calc(50% - 51px);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.product_list .info_wrap{
    padding: 10px 5px;
    display: flex;
justify-content: space-around;
}
.product_list .info_wrap .cart{
    color: #ab8758;
    background-color: #fff;
    text-align: right;
    font-size: 16px;
    padding: 0;
}
.oi-cart{
    padding-right: 9px;
}
.page-product_block > div:last-child{
    margin-bottom: 0;
}
.product_list .tag01 ,.product_list .tag02 ,.product_list .tag03{
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: #ca941c;
    padding: 5px 11px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
}
.product_list .tag02{
background-color: #95ab20;
}
.product_list .tag03{
    background-color: #3a9dc3;
    }
.brand-title{
    font-size: 20px;
    font-weight: bold;
    color: #569a94;
    margin-bottom: 20px;
}
/*  頁籤 */

.tab-content img{
	max-width: 100%;
	margin:  0 auto;
}
.proview_infobox_tab{
	border: 1px solid #717171;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.proview_infobox_tab .tablink{
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-right: 1px solid #717171;
	font-size: 16px;
	letter-spacing: 1px;

    padding: 13px;
}
.tab_block{
	text-align: center;
}
.proview_infobox_tab button:last-child{
	border-right:none;
}
.w3-bar-hover{
	background-color: #5f5f5f !important;
    color: #fff;
}
.tab-content
{
	margin-bottom: 50px;
}


/*  聯絡我們 */

.pag_contactWrap_info{
	display: block;
}
.contact_infobox .logo-text{
	    margin: 40px 0 30px;
	    display: block;
}


.logo-text{
   text-align: center;
}
.contact_infobox ul{
	padding-left: 20px;
    list-style: square;
    color: #f99b8b;
}
.contact_infobox ul li{
	font-size: 1.15em;
    padding: 10px 0;
    border-bottom: 1px dotted #797979;
	
}
.contact_infobox_L-text{
	display: inline-block;
    color: #565656;
	font-weight: bold;
	    
}
.contact_infobox_R-text{
	display: inline-block;
    color: #565656;
}
.contact_map{
    margin: 27px 0;
}
.contact_map iframe{
	border-radius: 4px;
border: 1px solid #bbbbbb;
border-image: none;
box-shadow: 0px 0px 9px -3px #616161;
}
.remind_tt {
    width: 100%;
    height: auto;
  
    font-size: 13px;
    line-height: 13px;
    padding: 12px 0px;
    color: #e65858;
    margin-top: -12px;
}
.page_content_form {
margin: 13px;
}

.page_contact_form ul ,.page_account_form ul{
    padding-left: 0;
    list-style: none;
    min-height: 300px;
    padding: 10px 10px;
}

.page_content_form ul li ,.page_account_form ul li{
    margin: 20px 0;
    display: flex;
}
.sign_up_title ,.account_title{
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 7px;
    padding-top: 9px;
    color: #5a5a5a;
    width: 128px;

}
.sign_up_inpt ,.account_inpt {
    width: 100%;
    height: 40px;
    padding: 12px;
    line-height: 30px;
    font-size: 16px;
    color: #242424;
    background-color: rgb(247, 249, 249);
    border: none;
}
.contact_suptxt {
    width: 100%;
    min-height:200px;
    padding: 12px;
    line-height: 24px;
    font-size: 16px;
    resize: none;
    color: #242424;
    background-color: rgb(247, 249, 249);
    border: none;
    border-radius: 10px;
}
.menber_loginbox_inpt{
    font-size: 15px;
  
    color: #242424;
   display: inline-block;
    border-radius: 5px;
    background-color: rgb(247, 249, 249);
    border: none;
    padding: 12px;
    width: 100%;
    height: 40px;
    line-height: 32px;
}
.menber_loginbox_verification{
    display: inline-block;
}
.confirm_wrap{
    text-align: center;
    margin-bottom: 60px;
}
.bnt {
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-weight: 900;
}
.select_bnt01 {
    width: 100%;
    height: 45px;
    float: left;
    background: #519892;
    box-shadow: 0 0px #393939;
    border-radius: 4px;
    border: 0px none #FFFFFF;
}
.select_bnt01:hover {
  
    background: #3d827c;
   
}
.select_bnt02 {
    width: 100%;
    height: 45px;
    background: #808080;
    -moz-box-shadow: 0 0px #393939;
    box-shadow: 0 0px #393939;
    border-radius: 4px;
    border: 0px none #FFFFFF;
    display: block;

}
.select_bnt02:hover {
    background:#696969;
    color: #fff;
}

.confirm_next_box02, .confirm_modify_box02 {
    width: 139px;
    height: auto;
    box-shadow: 2.396px 1.805px 4.9px 0.1px rgba(0, 0, 0, 0.26);

    margin: 0px 10px;
    display: inline-block;
}
.confirm_next_box02 a{
    display: flex;
    text-decoration: none;
}
.step-list{
    display: flex;
}

.step-list_box{
    display: inline-block;
    background-color: #62a59f;
    padding: 5px 4px;
    font-size: 1.8rem;
    width: 90px;
    color: #fff;
    line-height: 74px;
    font-weight: bold;
    margin: 12px 0 10px;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    border: 3px solid #b1e4db;
    background-image: url(../../images/bg_step.png);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 7px;
    margin-right: 20px;
}
.step-list p{
    width: 84%;
    padding-top: 34px;
}
.step-list .space{
    padding-top: 11px;
}
.qa-title{
    border-bottom: 1px dotted #cfcfcf;
    padding: 10px 10px;
cursor: pointer;
margin-bottom: 5px;

}
.qa-info{
    padding: 6px 15px;
    margin-bottom: 15px;
    color: #828282; 
}
.qaBox .deco {
 margin-right: 5px;
    width: 24px;
    display: inline-block;
    background-color: #e6fbf8;
    height: 24px;
    border: 2px solid #75c5ba;
    border-radius: 50px;
}
.qaBox .deco span {
    color: #62a59f;
    padding: 0 6px;
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
}

/* 會員中心 */

.account-top{
    margin: 0px 0px 0px 0px;
    padding: 20px 10px;
    width: 100%;
   
    border-radius: 3px;
    background: #f8f8f8;
    height: auto;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #616161;
    font-weight: 700;
}
.account-box{
    margin-top: 50px;
}
.account-box_item{
    text-align: center;
    display: block;
    padding: 37px 0;
}
.account-box li{
    border: 1px solid #fff;
border-right: 1px solid #dcdcdc;


}
.account-box li:last-child{
    border-right:none;
}
.account-box li:hover{
    box-shadow: 0px 0px 1.96px 2.04px rgba(38, 38, 38, 0.08);
    border-right: none;
    border: 1px solid #a9c7c3;
   
}
.account-txt h4{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 17px;
    color: #658580;
}
.account-txt .txt02{
    color: #5d5d5d;

}
.account-box_item img{
    height:  52px;
    transition: all 550ms ;
    -webkit-transform: scale(1);
    transition: transform .15s cubic-bezier(.11,.65,1,1.69);
}
.account-box_item:hover img {
    transition: all 550ms ;
    -webkit-transform: scale(1.15);
    transition: transform .15s cubic-bezier(.11,.65,1,1.69);
}
.twzipcode select ,.twzipcode input{
    text-transform: none;
    background-color: rgb(247, 249, 249);
    border: none;
    padding: 10px;
    margin-right: 26px;
    width: 120px;
    margin-left: -14px;
}
.agreement{
    text-align: center;
    margin: 29px 0 18px;
}
.agreement a{
color:#62a59f;
font-weight: bold;
}
/*  訂單查詢 */

.order_block ul {
    width: 100%;
    height: auto;
  
    border-bottom: 1px solid #cfcfcf;
   
    padding: 10px 0px 20px 0px;
    color: #333;
   
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.order_block li {
    padding: 0 10px;
    float: left;
    width: 40%;
    line-height: 1.8;
}
.order_block li img{
  
    width: 100%;
}
.order_block li:nth-child(1) {
    width: 20%;
}

.order_block li .price{
    font-size: 2rem;
    color: #ea7070;
    font-weight: bold;

}
.order_block_btn{
    padding-top: 6px;
}
.order_block_btn .btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #62a59f;
    border: 1px solid #62a59f;
    color: #fff;
    border-radius: 4px;
    padding: 3px 0;
    width: 80px;
    margin: 0 0 5px 0;
    font-size: 14px;
}
.order_block_btn .btn:hover{
  
    background: #333333;
    border: 1px solid #333;
   
}
.order_block_btn .no-tap{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #FFF;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 2px;
    padding: 3px 0;
    width: 80px;
    font-size: 14px;
}
.order_block_info01{
width: 40% !important;
display: block !important;
}
.order_block_info02{
    width: 57% !important;
    
    }
.prod_title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 13px;
}
.prod_wrap{
    width: calc(100% - 150px);
  
    padding: 8px 15px;
}

.order_block .number{  color: #b98340;}
.cart_info .prod{
    width: 70%;
    display: inline-block;
}
.cart_info li .number{
   
    display: inline-block;
    float: left;
}
.cart_info li .price{
font-size: 2rem;
color: #ea7070;
font-weight: bold;
}
.cart_info .prod div {
display: inline-block;
}
.cart_info ul{
   
    margin: 0px 0px 0px 0px;
    color: #333;
    font-size: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding:20px 11px 20px;
    border-bottom: 1px dotted #ccc;
}
.cart_info .prod img{
    width: 150px;
    float: left;
}
.cart_info .other{
    width: 27%;
    text-align: right;
    display: inline-block;
}
.cart_info_cost{
    display: flex;
}
.cart_cost li div:last-child{
    
}
.cart_info .titlebox{
    background-color: #ececec;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.cart_cost ul{
    width: 100%;
    background-color: #f5f5f5;
    padding: 6px 10px;
    margin-bottom: 20px;
}
.cart_cost ul hr{
margin: 0;
border-top: 1px solid #e0e0e0;
}
.cart_cost ul li div{
    display: inline-block;
    width: 110px;
    text-align: left;
}
.cart_cost ul li{
    padding: 10px; 
    text-align: right; 
}
.cart_cost ul .total{
color: #62a59f;
font-weight: bold;
font-size: 1.8rem;
}
.recipient_form ul li{
    display: inline-flex;
    width: 47%;
    border-bottom: 1px dotted #bdbdbd;
}
.recipient_form li:nth-child(odd){
    margin-right: 27px;
}
.recipient_form ul{
    text-align: center;
    background-color: #f5f5f5;
    padding: 17px 20px;
    margin-top: 9px;

    min-height: auto;
}
.payment_info ul{
    padding: 10px 20px;
    margin-top: 9px;
    background-color: #f5f5f5;
}
.recipient_form .account_inpt{
    background-color: rgb(245, 245, 245);
}
.recipient_form .account_title{
    width: 100px;
    text-align: left;
}
.recipient_form .account_txt{
    padding: 10px 0;
    width: calc(100% - 100px);
    text-align: left;
}
.recipient_form_title ,.payment_info_title{ 
font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px 10px 0;
}
.payment_info li{
    border-bottom: 1px dotted #bdbdbd;
    padding: 10px 0;
    margin-bottom: 10px;
}
.payment_info .txt{
    font-weight: bold;
    color: #54908b;
    
    font-size: 1.8rem;
    padding-bottom: 7px;
    margin-top: 10px;
}
.oi-circle-x{
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 19px;
    font-size: 1.8rem;
    color: #797979;
    }
.oi-circle-x:hover{
        color: #54908b;
        }
.stock-prod .oi-circle-x{
position: absolute;
z-index: 2;
right: 16px;
top: 19px;
font-size: 1.8rem;
color: #fff;
}
.stock-prod .oi-circle-x:hover{
    color: #1f4246;
    }

    .stock-prod_block {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(91, 148, 143, 0.74);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .stock-prod_block span {
        font-size: 1.6rem;
        font-weight: bold;
        color: #ffffff;
        border: 1px solid #fff;
        padding: 3px 12px;
        line-height: 24px;
    }
/* The check_box */
.check_list_box {
    width:100%;
  }
  .check_list_box .check_list {
    display: inline-block; 
  
  }
  .check_list_box .check_list h5{
    display: inline-block;
    margin: 0px 0 0 0;
  }
  .check_list_box .check_list h5 a{ color: #62a59f}
  .check_list label {
      visibility: visible;
      opacity: 1;
      margin:0;
      position: static;
  }
  
  .check_list input[type="checkbox"] {
    display:none;
  }
  .check_list input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 0.5em 0 0.25em;
    border: none;
    background: #fff;
    float: left;
    margin-top: 3px;
    vertical-align: bottom;
    border: 1px solid #cfcfcf;
  }
  .check_list input[type="checkbox"]:checked + label span {
    background :#62a59f;
    border: 1px solid #62a59f;
  }
  .check_list input[type=checkbox]:checked + label > span:before{
    content     : '✓';
    display     : block;
    width       : 20px;
    color       : #FFF;
    font-size   : 15px;
    line-height : 18px;
    text-align  : center;
    font-weight : bold;
  }

  .cart_order .payment_info ul{
    padding: 10px 10px;
    margin-top: 0;
         background-color: #fff; 
  }
  .cart_order .page_account_form ul li{
    margin: 18px 0;
  }
  .cart_order .payment_info li{
    border-bottom: none;
        margin-bottom:0; 
  }
.recipient_form_txt{
  float: right;
    margin-top: -24px;
}
.account_txt{
    width: 100%;
    padding: 4px 9px;
}
.scart_product_cat{
    width: 100%;
    padding: 10px 5px;
    line-height: 24px;
    border-radius: 3px;
    float: left;
    border: 1px solid #cfcfcf;
    margin-bottom: 11px;
}
.sp3t1ax01 ,.sp3t2ax01 ,.sp3t2ax02{
    padding: 0 3px;
    color: #969696;
}
.invoice_box input{
    width: 100%;
    padding: 4px 9px;
}
.cart_order{
    margin-bottom: 64px;
}


/*  產品分類  */
.top-category {
    display: none;
	margin:20px 0 30px;
	text-align:center;
}
.top-category ul {
	padding-left:0;
}
.top-category ul li {
	display:inline-block;
	padding:0 20px;
	text-align:center;
	margin:0;
	line-height:1.2;
	border-right: 1px solid #ccc;
	font-size:1.8rem;
}
.top-category ul li:last-child {
	border-right:none;
}
.top-category ul li .line {
	background-color:#458f89ㄤ
	width:100%;
	height:2px;
	margin:0 auto;
	margin-top:3px;
}
.top-category ul li a {
	color:#333;
}
.top-category ul li a:hover {
	color:#458f89ㄤ
}

.top-category .active {
	font-weight:bold;
	color:#458f89;
}


/*  任選區  */
.offer_block .info_wrap{
    padding: 0;
}
.offer_block .info_wrap .cart{
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding: 5px;
    background-color: #ab8758;
    width: 100%;
}
.offer-wrap{
    padding: 12px;
    border: 1px solid #dedede;
    margin: 10px 0 20px;
}
.offer-wrap_info{
    padding: 21px;
    background-color: #eaeaea;
}
.offer-wrap .txt{
display: inline-block;
}

.offer-btn{
    float: right;
    background-color: #444;
    padding: 8px 15px;
    color: #fff;
    margin-top: -8px;
}
.offer-btn:hover{
    
    background-color: #62a59f;
   
    color: #fff;
   
}
.selQty ,.selAmt{
    font-size: 1.8rem;
    font-weight: bold;
    color: #d66a6a; 
}

.info_wrap .spec{
    width: 100%;
}


.offer-txt{
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 29px;
}
.offer-txt .txt01{
    margin-bottom: 4px;
    color: #c76060;
    display: inline-block;
}
.offer-txt .txt02{
  
    display: inline-block;
}
/* 忘記密碼 */
.forget_BG  {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: none;
    background-color: rgba( 0,0,0,.4 );
  }

  .open02 {
    display: block;
  }

  .pop-up.open {
    border-radius: 7px;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
   
.pop-up {
    border-radius: 7px;
    position: fixed;
    top: 48%;
    left: calc(100% /2 );
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    background-color: #ffffff;
    width:auto;
    height: auto;
  }
  
  
  .pop-up .content .container {
    line-height: 2;
    border-radius: 7px;
    overflow: hidden;
    width: auto;

    background: #ffffff;
    padding: 28px 15px;
    width: 340px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  }
  
  .pop-up .content .close {
       position: absolute;
       top: 4px;
      padding: 5px 8px;
      right: 8px;
      font-size: 2rem;
      letter-spacing: 0.05rem;
      color: #aaacaf;
      border: 1px solid #adadad;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      border-radius: 50px;
          opacity: 1;
  }
  .pop-up .content .close:hover {
    cursor: pointer;
    color: #ffffff;
      background-color: #636363;
  }
  
  .pop-up .content .title{
    margin-bottom: 15px;
  }
.forget_login{
    padding-bottom: 20px;
    text-align: right;
    padding-right: 20px;
}
.forget_wrap .pop-up .content .container {
    text-align: center;
    height: auto;
    line-height: 2;
    padding: 35px 10px;
    width: 100%;
}
.forget_wrap .pop-up {
    width: 450px;
}
.subscribe {
    font-size: 2.4rem;
    font-weight: bold;
    color: #62a59f;
    text-align: center;
}
.forget_wrap .email {
    text-align: left;
    background-color: transparent;
    width: 90%;
    border: none;
    border-bottom: 1px solid #62a59f;
    cursor: pointer;
    color: #62a59f;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 0 10px;
}

.forget_wrap .btn{
margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    .sign_up_titxt{
        display: block;
    }
   
.confirm_wrap{
    margin-bottom: 45px;
}
.cart_order .page_account_form ul li {
    margin: 7px 0;
}
}
@media screen and (max-width: 768px) {
   
    .menber_loginbox_inpt{
      
        width: 100%;
      
    }
   
    .brand-title{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .cart_order{
        margin-bottom: 20px;
    }
    .cart_order .payment_info ul{
        padding: 0 10px;
    }
    .account-box_item {
     
        padding: 23px 0;
    }
    .account-box {
        margin-top:0;
    }
}
    @media screen and (max-width: 480px) {
        .pag_header_title {
       
            font-size: 2.2em;
           
            top: 72%;   
    }
    .step-list_box{
        font-size: 1.6rem;
        height: 76px;
        line-height: 62px;  
    }
    .forget_wrap .pop-up {
        width:90%;
    }
}
 
.page-product .sort {
    width: 180px;
    float: right;
    height: auto;
    overflow: hidden;
    text-align: right;
}

.select_sort {
    border: 1px solid #cfcfcf;
    outline: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 1.6rem;
    color: #666;
}


/*  測選單 */
.side_menu_info .subs a{
display: inline-block;
width: 250px;
}
.side_menu_info .subs a:hover{
    color: #9c805b;
}
.side_menu{
    width: 460px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.page-news_block ,.page-content_block ,.page-product_block{
    width: 100%;
    margin-top: 17px;    
    margin-bottom: 50px;

}
.page-login_block{
width: 600px;
margin: 0 auto;
margin-top: 10px;
}
.side_menu_title{
    background-image: url(../../images/img_wood.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    height: 64px;
    padding: 12px;
    padding-left: 61px;
}
.side_menu_title .txt{
    color: #458f89;
    font-size: 2.4rem;
    font-weight: bold;
}
.side_menu_title .doll{
    position: absolute;
    left: 16px;

    top: 0;
    z-index: 1;
}
.side_menu_title .en{

    vertical-align: unset;
    padding-left: 8px;
}

.side_menu_info{
    position: relative;
border-width: 1px;
  border-color: rgb(234, 224, 208);
  border-style: solid;
  background-image: -moz-linear-gradient( 90deg, rgb(250,245,241) 0%, rgb(242,230,219) 94%, rgb(233,214,196) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(250,245,241) 0%, rgb(242,230,219) 94%, rgb(233,214,196) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(250,245,241) 0%, rgb(242,230,219) 94%, rgb(233,214,196) 100%);
  box-shadow: 0px 2px 5.88px 0.12px rgba(163, 134, 117, 0.43);
}
.side_menu_info > ul{
    padding: 21px 12px 100px;
    margin-top: 20px;
   
}

.side_menu_info .flip{
  
    margin-bottom: 18px;

   cursor: pointer;
}
.side_menu .bg{
    position: absolute;
    right: 1px;
    bottom: -2px;
}
.side_menu_info .flip_title{
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-image: url(../../images/bg_sideTitle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px;
    padding-left: 35px;
    position: relative;
    display: block;
}
.side_menu_info .deco-title{
    position: absolute;
    left: 0;
}
.side_menu_info .down{
    float: right;

}
.side_menu_info .subs{
   
    padding: 13px 13px 0;
    list-style: inside;
    color: #9c805b;
}
.side_menu_info .subs li{
    font-size: 1.6rem;
    padding: 9px 5px;
    border-bottom: 1px dotted #b2956f;
}
@media screen and (max-width: 1530px) {
.side_menu_info .subs a {
   
    width: 210px;
}
}

@media screen and (max-width: 1265px) {

.proview_infobox_tab .tablink{
    font-size: 16px;
}
.side_menu{
    display: none;
}
.order_block li {
  
    width: 50%;
  
}
.order_block li img{
  
    width: 100%;
}
.order_block li:nth-child(2) {
    width: 30%;
}
.top-category {
    display: block;
}
}
@media screen and (max-width: 1023px) {
    .prod-banner , .prod-banner-box {
        height: 330px;
    }
   
     
       .page-product_block {
        margin-top: 0;
       
    }
    .offer_block .product_list_box{
        width: 100%;
    }
    .product_list .col-md-3{
     width: 50%;   
     margin-bottom: 33px;
    }
}

@media screen and (max-width: 768px) {
    .prod-banner , .prod-banner-box {
        height: 260px;
    }
    .prod-banner_info_title .ch{
        font-size: 2.2rem;
        
        padding-bottom: 0px;
    }
    .proview_infobox_tab .tablink{
		font-size: 14px;
		padding: 8px;
	}
    .prod-banner_info_title {
       
        width: 260px;
        padding: 13px 0 16px;
      
    }
 
    .news_list_info {
        margin-top: 12px;
    }
    .page-content{
        padding: 0 15px;
        padding-top: 20px;
        
    min-height: 700px;
        }
        .news_list_info .more {
            
            margin-top: 4px;
           
        }
        .proview_topbox .quantity.buttons_added{
            width: 80%;
        }
      
        .product_list{
            padding-bottom:0;
            margin-bottom: 0;  
        }
        .prod-banner_info {
      top: calc(70% - 55px);
            left: calc( 50% - 130px);
        }
        .order_block li:nth-child(1) {
          display: none;
        }
        .order_block li {
          width: 100%;
          }
          .order_block li:nth-child(2) {
            width:100%;
        }
        .pagination {
            margin: 0px 0;
        }
        .order_block li {
           
            width:100% !important;
          
        }
        .cart_info .prod {
            width: 100%;
        }
        .cart_info .other {
            margin-top: 20px;

            width: 100%;
            text-align: center;
      
        }
        .cart_info li .price {
          
            text-align: right;
            padding-right: 11px;
        }
        .cart_info li .number {
           
            text-align: left;
           
        }
      
        .prod_title {
            font-size: 1.6rem !important;
            margin-bottom: 7px;
        }
        .cart_info .prod div {
           
            font-size: 1.4rem;
        }
        .prod_wrap {
            width: calc(100% - 150px);
            padding: 2px 7px;
        }
        .order_block ul{
            padding: 0px 0px 17px 0px;
        }
        .recipient_form ul li{
            display: block;
    width: 100%;
    margin: 12px 0;
        }
        .recipient_form .account_title{
            width: 100px;
            text-align: left;
            float: left;
        }
        .recipient_form .account_txt{
            padding: 10px 0;
            width: 100%;
            text-align: left;
        }
        .recipient_form ul{
            padding-top: 9px;
        }
        .recipient_form_title, .payment_info_title{
            margin-top: 20px;
        }
}

@media screen and (max-width: 500px) {

.page_content_form ul li, .page_account_form ul li {
   
   display:block; 
}
.twzipcode select, .twzipcode input {
   
    margin-left: 0;
}
.product_list .info_wrap {
    border: 1px solid #efddd2;
    display: block;
    padding: 6px 5px;
}
.product_list_box {
    margin-bottom: 0;
}
.product_list .price{
    width: 100%; 
    text-align: center; 
    margin-bottom: 5px;
}
.product_list .info_wrap .cart{
    width: 100%; 
    text-align: center; 
}
.product_list .col-md-3 {
    width: 100%;
}
.offer_block .info_wrap {
    border: none;
  
    padding: 0;
}
}