

/* SCROLL TO TOP */
.scrollToTop {
	display: none;
	position: fixed;
	right: 4%;
	bottom: 5%;
	background:#000 url(../images/scrollToTop.png) no-repeat center center;
	width: 55px;
	height: 55px;
	z-index: 99;
	border-radius: 100%;
	border: none;
	outline: none;
}
@media only screen and (min-width: 0px) and (max-width: 700px){
.scrollToTop { width: 45px;	height: 45px; bottom: 8%;}
}


/* -產品介紹--------------------------------------------------------------------------------------------------*/
.pd{ margin:0px 0 0px 0px; width:100%; height:auto; overflow: hidden;}
.pd li{ margin:20px 10px 30px 10px; padding:0px 0px 20px 0px; width:calc(100% / 4 - 20px); list-style:none; display: block; float:left; transition: all 0.6s;}
.pd li:hover {transform: translate(0px, -20px); box-shadow: 0px 2px 10px rgba(0,0,0,0.2); border-radius: 10px;}
.pd li .pic{ margin:0px 0px 0px 0px; width:100%; position: relative;}
.pd li .pic .shop{ display: none; }
.pd li .pic:hover .shop { position: absolute; width:110px; height:24px; text-align:center; line-height:24px; display:block; top:40%; right:calc(50% - 60px); border:1px solid #fff; border-radius: 20px;
color: #fff; font-weight: 700; font-size: 14px;
font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.pd li .pic img{ width:100%;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.pd li:hover .pic:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(177,115,132,0.7);
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.pd li .title{ width:95%; height:auto; font-size: 16px; color: #494949; padding:0px 0px 0 0px; margin:15px auto 0px auto; font-weight: 700;
font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}
.pd li .title a{ color: #494949;}
.pd li .title a:hover{ color: #e68395; }
.pd li .size{ width:95%; margin:10px auto 0px auto; height: 60px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
.pd li .size dd {  margin:0px 8px 8px 0px; padding:0px 0px 0 0px; width: 24px; height: 24px; line-height:24px; border-radius: 5px; font-size: 11px; color: #494d56; list-style:none;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #f0f0f0; text-align: center;
}
.pd li .size dd:nth-child(even) {  margin:0px 8px 0px 0px; padding:0px 0px 0 0px; width: 24px; height: 24px; line-height:24px; border-radius: 5px; font-size: 11px; color: #fff; list-style:none;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #cfcfcf; text-align: center;
}
.pd li .size dd a{ color: #494d56;   }
.pd li .size dd:nth-child(even)  a{ color: #fff;   }
.pd li .money{ width:95%; color: #4d4d4d; font-size: 20px; margin:0px 0px 0px 0px; padding:0px 0 0 0px; text-align:right;
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-style: italic; font-variant: normal; font-weight: 600; text-shadow: 0 0 1px rgba(51,51,51,0.5); letter-spacing: 1px;}
.pd li .money h1{ padding:0px 10px 0 0px; display:inline-block; text-decoration: line-through; color: #666; font-size: 15px;}
.pd li .tagbox{
	width:100%;
	margin:5px 0px 5px 0px; display: flex;
  justify-content: flex-end;
}
.pd li .tagbox .new { text-align:center; color:#FFF; border-radius: 3px; font-size: 13px; background:#fd5c63; padding: 2px 5px 4px 5px; margin-right:8px; display: inline-block;}
.pd li .tagbox .freeship { text-align:center; color:#FFF; border-radius: 3px; font-size: 13px; background:#f3b74f; padding: 2px 5px 4px 5px; margin-right:8px; display: inline-block;}
.pd li .tagbox .sale { text-align:center; color:#FFF; border-radius: 3px; font-size: 13px; background:#00a0f0; padding: 2px 5px 4px 5px; margin-right:8px; display: inline-block;}
@media only screen and (min-width: 769px) and (max-width: 1550px){
.pd li{ width:calc(100% / 3 - 20px); }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
.pd li{ width:calc(100% / 2 - 20px); }
}
@media only screen and (min-width: 0px) and (max-width: 480px){
.pd li{ width:100%; margin:20px 0px 30px 0px;}
}

/* -內頁-*/
.proview_topbox{
	width:100%;
	height:auto; 
	margin:0px 0px 50px 0px;
	}
.proview_topbox .left_img{
	width:550px;
	
	}

/* -產品照片-*/
.product-slick li{
	width:100%; margin:0px 0px 0px 0px; padding:0; list-style:none;
	}
.product-slick li img{
	width:100%;
	}
.product-nav {
	width:100%;
	margin:10px 0px 0px 0px; text-align:left;
}
.product-nav li {
	width:calc(100% / 4 - 10px);
    margin: 0px 3px 5px 3px; padding:0;
	list-style:none;
	display: inline-block;
    vertical-align: middle;

	cursor: pointer;
}
.product-nav li img{
	width:100%;
	}

.zoom {
	display:inline-block;
	position: relative;
}
.zoom:after {
	content:'';
	display:block;
	width:33px;
	height:33px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/icon.png);
}

.zoom img {
	display: block;
}
.zoom img::selection { background-color: transparent; }

/* -右邊資訊-*/
.proview_topbox .right_info{
	width:calc(100% - 500px - 20px);
	padding:0px 0px 0px 20px;
	float:right;
	height:auto; overflow: hidden;
	}
.proview_topbox .right_info .name{
	width:100%;
	padding: 5px 0px;
	font-size: 24px; color: #4f9b94;
	font-weight: 700;
	
}
.proview_topbox .right_info .note {
 
    padding: 1px 10px;
    font-size: 16px;
    margin: 12px 0 8px;
    display: inline-block;
    color: #e47f2e;
    border: 1px solid #e47f2e;
   
}
.proview_topbox .right_info .txt{

    list-style: square;
    line-height: 1.8;
    width: 100%;
    padding: 7px 0px 0px 0px;
    font-size: 16px;
	color: #676767;
	padding-left: 28px;
}
.proview_topbox .right_info .money{    width: 100%;
    color: #ea6666;
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0 0 0px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-variant: normal;
    font-weight: 600;
    text-shadow: 0 0 1px rgba(51,51,51,0.5);
    letter-spacing: 1px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.proview_topbox .right_info .money h1{ padding:0px 0px 0 10px; display:inline-block; text-decoration: line-through; color: #666; font-size: 15px;}
.proview_topbox .right_info .tagbox{
	width:100%;
	margin:5px 0px 5px 0px;
}
.proview_topbox .right_info .tagbox .new {  color: #FFF;
    border-radius: 2px;
    font-size: 14px;
    background: #ca941c;
    padding: 3px 8px;
    margin-right: 5px;
    display: inline-block;}
.proview_topbox .right_info .tagbox .freeship {    text-align: center;
    color: #FFF;
    border-radius: 2px;
    font-size: 14px;
    background: #95ab20;
    padding: 3px 8px;
    margin-right: 5px;
    display: inline-block;}
.proview_topbox .right_info .tagbox .sale { text-align:center; color:#FFF; border-radius: 3px; font-size: 14px; background:#00a0f0; padding: 5px 10px; margin-right:5px; display: inline-block;}

.proview_topbox .right_info .info_list{
	width: 100%;
    margin: 5px 0px 5px 0px;
	display: inline-block;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
	}
	.info_list_buy{
		float: right;
	}
	.info_list_buy .oi-cart{
		color: #4c4c4c;
		font-size: 18px;
		border: 1px solid;
		padding: 8px 10px;
		border-radius: 3px;
	}
	.info_list_buy .oi-cart:hover{
		color: #62a59f;
		transition: all .3s;
	}
	
	.info_list_buy .btn{
		font-size: 18px;
		background-color: #4c4c4c;
		border-radius: 2px;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 4px 22px;
		margin-left: 9px;
		vertical-align: top;
	}

		.info_list_buy .btn:hover{
			transition: all .3s;
			background-color: #62a59f;
		}
.proview_topbox .right_info .info_list .dtt{
	width:55px; padding:0px 0px 0px 0px; float:left;
	font-size: 16px; color: #333; position:relative;    line-height: 36px;
	}
.proview_topbox .right_info .info_list .dtt:after {
	content: '：';
	font-size: 14px; color: #666;
	margin: 0px 5px 0px 0px; position: absolute; right:0;
}
.proview_topbox .right_info .info_list .spec{
	width: auto; float:left;
	margin:0px 0px 0px 5px; padding:0px 0px; font-size: 14px; color: #666;
	}
.proview_topbox .right_info .info_list .spec a{
	color: #70accb;
}
.proview_topbox .right_info .info_line{
	width:100%;
	padding:0px 0px 0px 0px;
	margin:20px 0px 20px 0px;
	border-top:1px solid #cfcfcf;
	}
.color{ width:100%; margin:0px 0px 0px 0px; }
.color dd { display: inline-block; margin:0px 0px 0px 0px; padding:0; list-style:none; }
.color dd img{ width:15px; height:15px; border-radius: 100%;}
.color dd a{ padding:5px; display: inline-flex; justify-content: center; align-items: center;}
.color dd.current a{ border-radius: 5px; border:1px solid #cfcfcf; }
.proview_topbox .right_info .info_list .size{ width:100%; margin:0px 0px 0px 0px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}
.proview_topbox .right_info .info_list .size dd {  margin:0px 8px 8px 0px; padding:0px 0px 0 0px; width: 25px; height: 25px; line-height:25px; border-radius: 5px; font-size: 11px; color: #494d56; list-style:none;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #f0f0f0; text-align: center; border:1px solid #FFF;
}
.proview_topbox .right_info .info_list .size dd:nth-child(even) {  margin:0px 8px 0px 0px; padding:0px 0px 0 0px; width: 25px; height: 25px; line-height:25px; border-radius: 5px; font-size: 11px; color: #fff; list-style:none;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #cfcfcf; text-align: center; border:1px solid #FFF;
}
.proview_topbox .right_info .info_list .size dd a{ color: #494d56;   }
.proview_topbox .right_info .info_list .size dd:nth-child(even)  a{ color: #fff;   }
.proview_topbox .right_info .info_list .size dd.current { background:#000; color: #fff; }
.proview_topbox .right_info .info_list .size dd.current a{color: #fff;}

.buy_sbox{
	width:100%;
	padding:10px 0px 10px 0px ;
	height:auto; overflow: hidden;
}

/* -quantity-*/
.quantity {
	display: inline-block; border: 1px solid #cfcfcf;  border-radius: 3px;  }
   
   .quantity .input-text.qty {
	   width: 62px;
	   font-size: 16px;
	   height: 36px;
	padding: 0 0px;
	text-align: center;
	background-color: transparent;
	border: none;
   }
   
   .quantity.buttons_added {
	   width: 100%;
	text-align: left;
	position: relative;
	white-space: nowrap;
	vertical-align: top; }
   
   .quantity.buttons_added input {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	box-shadow: none;
   }
   .quantity input[type="number"] {
	font-size:14px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   }
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
	   font-size: 16px;
	   padding: 0px 10px;
	   height: 34px;
	background-color: #ffffff;
	border: none;
	cursor:pointer;}
   
   .quantity.buttons_added .minus {
	border-right: 0; }
   
   .quantity.buttons_added .plus {
	border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
	background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0; }
   
   .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
	outline: none; }
   
   
@media only screen and (min-width: 0px) and (max-width: 1265px){
	.proview_infobox_tab .tablink{
		font-size: 16px;
	}

}
@media only screen and (min-width: 811px) and (max-width: 992px){
.proview_topbox .left_img{
	width:450px;
	float:left;
	margin:-10px 0px 0px -50px; padding:0; list-style:none;
	}
.proview_topbox .right_info{
	width:calc(100% - 400px - 20px);
	padding:0px 0px 0px 20px;
	}

}
@media only screen and (min-width: 0px) and (max-width: 992px){
.info_list_buy{
	display: block;
width: 100%;
margin-top: 18px;
}
.info_list_buy .btn{
	width: 80%;

}
.proview_topbox .right_info .info_list .spec{
	  float: none;
}
}
@media only screen and (min-width: 0px) and (max-width: 768px){
.proview_topbox .left_img{
	width:calc(100% + 50px);
    margin: 0px 0px 0 -50px;
	}
.proview_topbox .right_info{
	width:100%;
	padding:0px 0px 0px 0px;
	}
	.quantity.buttons_added{
		display: flex;
		justify-content: space-around;
	}
	.product_list .quantity.buttons_added input{
		width: 100%;
	}




	.product_list .quantity .input-text.qty{
		width: 100%;
	}
	.cart_info .quantity.buttons_added{
		display: inline-block;
		width: auto;
	}
}
