@charset "utf-8";
/* CSS Document */

* {
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input, textarea {
	outline: none
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	outline: none

}

a, a:hover, a:active {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none

}

article, aside, details,
/* 1 */

figcaption, figure, footer, header, main,
/* 2 */

menu, nav, section, summary {
	/* 1 */
	display: block;
}



